.demoscript-container{
    // size of the container 
    flex: 0.8;
    width: 80%;
    height: 92vh;

    // centering the content to mid of the screen
    display: flex;
    align-items: center;
    justify-content: center;

    // position of the container
    position: fixed;
    top: 8%;
    left: 20%;
    bottom: 0;
    right: 0;
}